{% extends "base.html" %} {% load static %} 
{% block title %} | Government{% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static "css/output.css" %}" />
{% endblock %}
{% block content %}

<style>
  body {
    background-color: #161616ff;
  }
</style>
<style> /* our-trusted */
  .outerdiv {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .our-trusted-innerdiv-header {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .header-span1 {
    font-size: 50px;
    font-family: Inter;
    font-weight: 600;
    color: black;
  }
  .header-span2 {
    font-size: calc(58 * var(--ratio));
    font-family: Inter;
    font-weight: 600;

    text-decoration: none;
    text-transform: none;
    color: #1a9fe2ff;
  }
  .our-trusted-innerdiv-imgs {
    background: -webkit-radial-gradient(
      #a5efffff 0%,
      #6ebff439 77%,
      #4690d400 100%
    );
    box-sizing: border-box;
    border-left: 2px solid -webkit-radial-gradient(#eabfffff 0%, #8726b700 100%);
    border-right: 2px solid -webkit-radial-gradient(#eabfffff 0%, #8726b700 100%);
    border-top: 2px solid -webkit-radial-gradient(#eabfffff 0%, #8726b700 100%);
    border-bottom: 2px solid -webkit-radial-gradient(#eabfffff 0%, #8726b700
          100%);
    backdrop-filter: blur(20px);
  }
</style>
<style>
  .seo-card {
    width: 75%;
    border-radius: 16px;
    margin: 0 auto 20px;
    color: black;
    display: flex;
    padding-bottom: 20px;
    background: #E3E3E3;
    box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.04);
    align-items: center;
  }

  .seo-card-img{
    min-width: 150px;
    height: 150px;
    margin: 25px;
    max-width: 150px;
  }
  .seo-card-img img{
    min-width: 100%;
    height: 100%;
  }

  .seo-card h5{
    font-size: 20px; 
    margin: 25px 0 10px 0;
  }
  
  .seo-card p{
    font-size: 15px;
    font-weight: 300;
  }

  
</style>
<style>
  /* main front */
  .main-front-outerdiv {
    /* background-image: url("imgs/doc_bg.webp"); */
    position: relative;
    overflow: hidden;
    height: fit-content;
    padding: 160px 50px 80px 80px;
    /* background-size: cover; */
  }
  .main-front-bg {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .main-front-bg > img{
    min-height: 100%;
    min-width: fit-content;
    max-width: none;
    height: fit-content;
    width: 100%;
    max-height: none;
  }

  .main-front-innerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .main-front-para {
    color: white;
    max-width: 750px;
    font-size: 30px;
    margin: 20px 0;
  }
  .gradint-text {
    font-size: 50px;
    font-family: Inter;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    background: linear-gradient(
      91.18deg,
      #d8d5d199 0%,
      #f1f0eeff 30%,
      #f1f0eeff 69%,
      #d8d5d199 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading-blueis {
    font-size: calc(58 * var(--ratio));
    font-family: Inter;
    font-weight: 600;
    color: #1a9fe2ff;
  }

  .white_line {
    height: 0;
    display: block;
    width: 80%;
    margin: 50px 0;
    border: 1px white solid;
  }
  .main-front-btndiv {
    margin-left: auto;
    margin-right: 25px;
    display: flex;
    gap: 20px;
    font-family: Inter;
    font-weight: 700;
  }
  .main-front-btn {
    text-align: center;
    display: inline-block;
    width: fit-content;
    padding: 8px 25px 10px;
    margin-top: 40px;
    font-size: 27px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #48aef3ff;
    border-radius: 8px;
    transition: 0.3s;
  }

  .main-front-btn:hover {
    background-color: rgb(59 130 246);
  }

  @media (max-width: 768px) {
    .seo-card {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 90%;
    }

    .seo-card h5, .seo-card p{
      text-align: center;
      margin: 10px 20px;
    }
    .main-front-innerdiv{
      text-align: center;
    }
    .main-front-outerdiv{
      padding: 120px 20px 50px;
    }
  }

  @media (max-width: 425px) {
    .header-span1{
      font-size: 30px;
      margin: 0 20px;
    }
    .main-front-para{
      font-size: 20px;
    }
  }
</style>
{% comment %} {% include "nav_indus.html" %} {% endcomment %}

<!-- main front start -->
<div class="main-front-outerdiv">
  <div class="main-front-bg">
    <img src="{% static "files2/gov_main_bg.webp" %}" alt="website localization"  />
  </div>
  <div class="main-front-innerdiv">
    <div>
      <div>
        <h2 style="display: inline; font-size: 50px;" class="gradint-text">Enhancing Government </h2>
        <h1 style="display: inline; font-size: 50px;" class="heading-blueis">Services with MultiLipi</h1>
      </div>
      <div class="main-front-para">
        <p>
          We get your content and your local audience. We translate your content
          to resonate from their perspective while preserving your brand's
          message, style, and context for local authenticity.
        </p>
      </div>
      <div>
        <div>
          <a class="main-front-btn" href="https://dashboard.multilipi.com/">Get started for free</a>
          {% comment %} <a class="main-front-btn" href="">Try now free</a> {% endcomment %}
        </div>
      </div>
    </div>
    {% comment %} <div>
      <img style="width: 525px" src="{% static "files2/ecom_main_img.webp" %}"
      alt="" />
    </div> {% endcomment %}
  </div>
</div>
<!-- main front end -->

<!-- features 1 starts -->
<div class="outerdiv" id="">
  <div class="our-trusted-innerdiv-header">
    <h1 class="header-span1">Multilingual SEO for Government Websites</h1>
    {% comment %} <span class="header-span2" style="line-height: calc(59 * var(--ratio))"
      ><a
        class="onscreentypewrite"
        id="partners-span"
        data-period="2000"
        loopdur="1"
        data-type='[ "Partners" ]'
      >
        <span class="wrap"></span>
      </a>
    </span> {% endcomment %}
  </div>
  <div class="" id="">
    <div class="seo-card" >
      <div class="seo-card-img" >
        <img  src="{% static "Multilipi\Multilipi Education\SEO\Enhancing_gov__seo_incl_comms.webp" %}" alt="website localization">
      </div>
      <div>
        <h5>Inclusive Communication</h5>
        <p>
          Government websites are primary sources of information for citizens. Ensuring that these websites are accessible in multiple languages helps in disseminating information to non-native speakers, ensuring inclusivity and better public engagement.
        </p>
      </div>
    </div>

    <div class="seo-card" >
      <div class="seo-card-img" >
        <img  src="{% static "Multilipi\Multilipi Education\SEO\enhancing_gov_seo_outreach_2.webp" %}" alt="website localization">
      </div>
      <div>
        <h5>Improved Outreach</h5>
        <p>
          By optimizing web content for various languages, government agencies can improve their search engine rankings across different linguistic demographics. This ensures that critical information and services are more easily discoverable by all citizens, regardless of their language preference.
        </p>
      </div>
    </div>

    <div class="seo-card" >
      <div class="seo-card-img" >
        <img  src="{% static "Multilipi\Multilipi Banking\SEO\Education_SEO_Experience.webp" %}" alt="website localization">
      </div>
      <div>
        <h5>Increased Transparency</h5>
        <p>
          Providing translated content helps in maintaining transparency. Citizens can access official documents, public notices, and other essential information in their preferred language, fostering trust and accountability.
        </p>
      </div>
    </div>


  </div>
</div>
<!-- features 1 end -->


<!-- features 2 starts -->
<div class="outerdiv" id="">
  <div class="our-trusted-innerdiv-header">
    <h1 class="header-span1">Document Translation for Government Agencies</h1>
  </div>
  <div class="" id="">
    <div class="seo-card" >
      <div class="seo-card-img" >
        <img src="{% static "Multilipi\Multilipi Government\Document Translation\Enhancing_gov__seo_incl_comms.webp" %}" alt="website localization">
      </div>
      <div>
        <h5>Efficient Multilingual Communication</h5>
        <p>
          Government websites are primary sources of information for citizens. Ensuring that these websites are accessible in multiple languages helps in disseminating information to non-native speakers, ensuring inclusivity and better public engagement.
        </p>
      </div>
    </div>

    <div class="seo-card" >
      <div class="seo-card-img" >
        <img src="{% static "Multilipi\Multilipi Government\Document Translation\Enhancing_gov_doc_trans_delivery.webp" %}" alt="website localization">
      </div>
      <div>
        <h5>Enhanced Public Service Delivery</h5>
        <p>
          Translating service applications, educational materials, health advisories, and other public service documents helps in better service delivery. Citizens can understand and access services without language barriers, leading to increased satisfaction and participation.
        </p>
      </div>
    </div>

    <div class="seo-card" >
      <div class="seo-card-img" >
        <img src="{% static "icons\lang_trans.webp" %}" alt="">
      </div>
      <div>
        <h5>Support for Multilingual Education and Outreach</h5>
        <p>
          Government initiatives often involve educational campaigns and outreach programs. Providing materials in multiple languages ensures that the message reaches a broader audience, including minority and immigrant populations.
        </p>
      </div>
    </div>

    <div class="seo-card" >
      <div class="seo-card-img" >
        <img  src="{% static "Multilipi\Multilipi Education\Document Translation\Enhancing_gov__doc_trans_compliance.webp" %}" alt="website localization">
      </div>
      <div>
        <h5>Compliance with Language Policies</h5>
        <p>
          Many governments have policies mandating the use of multiple languages in official communications. MultiLipi ensures compliance with these policies, helping agencies to meet legal requirements and avoid potential penalties.
        </p>
      </div>
    </div>

  </div>
</div>
<!-- features 2 end -->


{% comment %} <div style="background-color: #000922; margin-bottom: 0;" class="outerdiv">
  <div class="our-trusted-innerdiv-header" style="margin: 100px 0 0;">
    <span class="header-span1" style="line-height: normal; font-size: calc(48 * var(--ratio));"
    >Multilingual SEO for Government Websites</span>
  </div>
  <img src="{% static "files2\edu_NNTST.webp" %}" style="width: 100%; padding: 0 50px;" alt="">
</div>

<div style="background-image: url({% static "imgs\book_bg.webp" %}); background-size: cover;">
  <div style="display: flex; align-items: center; padding: 80px;">
    <div style="margin: 0 auto 0 20px;">
    <h1 style="font-size: 40px; font-weight: 700;">Schedule a demo with</h1>
    <h1 style="font-size: 40px; font-weight: 700;">our experts</h1>
    </div>
    <a style=" 
        font-weight: 300;
        color: white;
        padding: 15px;
        background: #0B3FC4;
        border-radius: 5px;"
      href="">Get a deom</a>
  </div>
</div> {% endcomment %}

{% include "contact_form.html" %}

{% endblock content %}
