.features-icon-outerdiv {
  margin: 80px 60px 120px;
}

.features-icon-outerdiv ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  gap: 162px;
  text-align: center;
  flex-wrap: wrap;
}

.features-icon-outerdiv ul li {
  text-align: center;
}

.features-icon-outerdiv ul li img {
  width: 108px;
  height: 108px;
  margin: 10px auto;
}

.features-icon-outerdiv ul li p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20.6046px;
  line-height: 25px;
  text-align: center;
}

.product-showcase {
  font-family: Montserrat;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  color: #091e42;
  font-size: 14.75px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.33px;
}

.card-des {
  display: flex;
  height: 93.6px;
  justify-content: center;
  flex-shrink: 0;
  color: #091e42;
  font-size: 15.875px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 151.181% */
}

.card {
  padding: 20px;
  max-width: 400px;
  /* Added 'px' unit */
  height: fit-content;
  flex-shrink: 0;
  border-radius: 4.8px;
  cursor: pointer;
  /* Pointer cursor for cards */
  transition: background 0.3s, box-shadow 0.3s;
  /* Smooth transition for visual effects */
  border-left: 5px solid #00c7e5;
}

.card div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card p {
  height: fit-content;
}

.card.selected {
  background: var(--trello-com-white, #fff);
  box-shadow: 0px 8px 16px 0px rgba(9, 30, 66, 0.15);
  border-left: 10px solid #00c7e5;
}

.card-link {
  font-size: 14px;
  /* margin-top: 16px; */
  color: grey;
  /* Default color */
  font-weight: 700;
  text-decoration: none;
  /* Remove underline */
}

.card.selected .card-link {
  color: #1a9fe2;
  /* Blue color when card is selected */
}

.video-container {
  flex: 1;
  /* Allows this div to grow */
  max-width: 60%;
  /* Sets max width for the video */
  min-width: 200px;
  /* background-color: #fff; */
  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  align-content: center;
}

.integration-section-text {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {

  .integration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }

  .integration-section-text {
    align-items: center;
  }

  .integration-section h2,
  .integration-section p {
    text-align: center;
  }

  .integration-section div {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .video-container {
    max-width: 100%;
    padding: 0;
  }
}

.prodects-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32.3438px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #091e42;
  padding: 10px 5% 30px;
}

/* products */

.product-section {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat;
  padding: 5%;
}

.product-card {
  padding: 40px;
  min-width: 200px;
  max-width: 600px;
  flex: 1;
  /* Flex grow and shrink */
  height: auto;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(180deg,
      rgba(26, 159, 226, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0px 4px 24px 4px rgba(51, 51, 51, 0.1);
  /* border-color: 4px solid black ; */
}

.product-title {
  height: 80px;
  font-family: Montserrat;
  font-size: clamp(16px, 2vw, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 39.2px;
}

.product-text {
  min-height: 150px;
  margin-top: 8%;
  font-family: Montserrat;
  font-size: clamp(12px, 1.5vw, 17px);
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.product-btn {
  display: block;
  margin-top: 10%;
  font-size: 16px;
  font-weight: 700;
  color: #1a9fe2;
}

.features-with-bg ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.features-with-bg ul li {
  background: #fafbfc;
  box-shadow: 0px 4px 4px rgba(26, 159, 226, 0.2);
  border-radius: 7px;
  padding: 20px;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.features-with-bg ul li img {
  width: 75px;
}

.features-with-bg ul li p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #091e42;
}

/* partners */
.partners-outer-div {
  padding: 70px 10px;
}

.partners-outer-div h1 {
  width: fit-content;
  margin: 40px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 52px;
  /* identical to box height, or 130% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #212121;
}

.partners-outer-div ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

/* testimonial section */

.testimonial-section {
  margin: 60px;
}

@media (max-width: 768px) {
  .testimonial-section {
    margin: 0;
  }
}

.testimonial-title {
  text-align: center;

  /* width: 425.27px; */
  flex-shrink: 0;
  font-family: Montserrat;
  font-size: clamp(20px, 4vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.test-card {
  margin: 20px;
  padding: 25px;
  min-width: 300px;
  max-width: 400px;
  flex: 1;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(180deg,
      rgba(26, 159, 226, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0px 4px 24px 4px rgba(51, 51, 51, 0.04);
}

.test-title {
  margin-top: 22px;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.test-title p {
  display: -webkit-box;
  line-clamp: 7;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 168px;
}

.test-pic {
  margin-top: 25px;
  width: 83.213px;
  height: 83.213px;
  border-radius: 50%;
  /* Creates the circular shape */
  overflow: hidden;
  /* background: url(); */
}

.test-name {
  margin-top: 30px;
  /* height: 61.6px; */
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}

.see-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 20px;
  padding: 25px;
  width: 250.5px;
  border-radius: 20px;
  background: #1a9fe2;
  box-shadow: 0px 4px 24px 4px rgba(51, 51, 51, 0.04);
}

.see-more-btn {
  display: flex;
  color: azure;
  width: 135.76px;
  height: 47.2px;
  background: #1a9fe2;
  padding: 15px 21.257px 15.4px 21.6px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.testimonial-logo {
  height: 105px;
  margin: 0 auto;
}

@media screen and (max-width: 560px) {
  .product-section {
    justify-content: center;
  }

  .test-title {
    text-align: center;
  }

  .test-pic {
    margin: 25px auto 0;
  }

  .test-name {
    text-align: center;
  }
}

.font-family {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

.faq-section-outer-div {
  padding: 30px 0 40px;
  background-color: white;
}

.faq-section {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.faq-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #212121;
  margin: 40px auto;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 1px solid grey;
  gap: 40px;
}

.faq-question {
  flex: 0 0 35%;
  align-self: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #212121;
  text-align: left;
}

.faq-answer {
  flex: 0 0 55%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  color: #212121;
}

@media (max-width: 768px) {
  .faq-item {
    flex-direction: column;
    align-items: center;
  }

  .faq-question,
  .faq-answer {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .faq-question {
    margin-bottom: 20px;
  }

  .main-front-img {
    display: none;
  }
}