{% extends "base.html" %} {% load static %} 
{% load custom_filters %}

{% block title %} | Goverment {% endblock title %} 

{% block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<!-- Meta tags for SEO -->
<meta charset="UTF-8">
<meta name="title" content="Website Page Translator for Government Websites | Make Public Portals Multilingual with MultiLipi">
<meta name="description" content="Translate government portals and public websites into Indian and global languages with MultiLipi. Ensure multilingual access to critical content for non-English speakers.">
{% endblock css %}

{% block content %}

<style>
    body {
        background-color: white;
    }
</style>
{% comment %} main front start  {% endcomment %}

<div class="main-front-outerdiv" style="height:fit-content;">
  <div class="main-front-innerdiv">
    <div class="main-inner-div-div" data-aos="fade-up">
      <div class="main-integration-badge"> 
        <p>Goverment</p>
      </div>
      <div>
        <h2 class="main-front-header-text">Translate Government<br>Websites at scale with<br>Accuracy and Ease</h2>
      </div>
      <div class="main-front-para" data-aos="fade-up" data-aos-delay="100" data-aos-offset="10" data-aos-duration="600" style="font-size:20px;">
        <p>
          MultiLipi helps government bodies, institutions, and public portals translate their websites into 120+ Indian and global languages ensuring equal access to critical information for every citizen. It’s the most reliable alternative to the discontinued Google Translate widget, built for scale, security, and accuracy.
        </p>
      </div>
      <div data-aos="fade-up" data-aos-delay="200" data-aos-offset="10" data-aos-duration="600">
        <div class="main-front-div-btn" data-aos-ancher-placement="center-center" style="
        margin: 30px 0;
        display: flex;
        gap: 20px;">
          <button class="home-button">
            <span>Get started for free</span>
          </button>
        </div>
      </div>
    </div>
    <img class="main-front-img" src="{% static "cards_imgs/goverment.svg" %}" alt="Translate government websites into 120+ languages using MultiLipi for public accessibility" style="width: 620px;" data-aos="fade-down"/>
  </div>
</div>

<!-- features cards -->
<div class="container mx-auto px-4 py-12">
  <!-- Header -->
  <div class="text-center mb-8">
    <h2 class="text-4xl font-bold text-gray-800" style="padding: 0px 20px;">
      <span class="rounded-full">Streamline Government Website Translation in Mins, Not Weeks</span>
    </h2>
  </div>

  <!-- feature-card 2 -->
    <div class="grid grid-cols-1 md:grid-cols-10 gap-8 max-w-7xl mx-auto p-8 rounded-lg shadow-lg" style="background-color: #f0f1f5; margin-top: 50px;">
      <!-- Left side image -->
      <div class="flex items-center justify-center p-4 md:col-span-6" data-aos="zoom-in-left" data-aos-duration="600" data-aos-offset="10" data-aos-easing="ease-in-out">
        <img src="{% static "cards_imgs/feature3.svg" %}" alt="Edit and approve multilingual SEO government website content using MultiLipi dashboard" class="w-full h-auto rounded-lg" loading="lazy">
      </div>
      
      <!-- Right side text content -->
      <div class="flex flex-col justify-center p-4 md:col-span-4" data-aos="fade-up">
        <h3 class="text-3xl font-bold text-gray-800 mb-4">Edit and manage multilingual content across departments with ease</h3>
        <p class="text-gray-600 mb-6">Empower your teams to instantly translate and update web content from RTI pages and government schemes to announcements and FAQs. MultiLipi gives complete editing control to non-technical users, making it easier to serve every citizen in their native language.</p>
        <a href="#" class="text-blue-500 hover:text-blue-600 flex items-center font-medium">
          Discover how Multilipi works
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>
    </div>

      <!-- feature-card 2 -->
  <div class="grid grid-cols-1 md:grid-cols-10 gap-8 max-w-7xl mx-auto p-8 rounded-lg shadow-lg" style="background-color: #f1e6ff; margin-top: 50px;">
    <!-- Left side Text -->
    <div class="flex flex-col justify-center p-4 md:col-span-5" data-aos="fade-up">
      <h3 class="text-3xl font-bold text-gray-800 mb-4">Track language preferences and optimize access for every community</h3>
      <p class="text-gray-600 mb-6">See which languages citizens use most, monitor visitor trends, and track content performance by region. MultiLipi’s centralized analytics dashboard helps public institutions make data-driven decisions about language access and community engagement.</p>
      <a href="#" class="text-blue-500 hover:text-blue-600 flex items-center font-medium">
        Learn more about translation quality
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>
    <!-- Right side image -->
    <div class="flex items-center justify-center md:col-span-5" data-aos="zoom-in" data-aos-duration="600" data-aos-offset="10" data-aos-easing="ease-in-out">
      <img src="{% static "cards_imgs/dashboard.svg" %}" alt="Track Website Translation & Language analytics dashboard showing regional and language-based visitor data" class="w-full h-auto rounded-lg" loading="lazy">
    </div>
  </div>

    <!-- feature-card 3 -->
    <div class="grid grid-cols-1 md:grid-cols-10 max-w-7xl mx-auto p-8 rounded-lg shadow-lg" style="background-color: #d6f3ff; margin-top: 50px;">
      <!-- left side image (70%) -->
      <div class="flex items-center justify-center md:col-span-6" data-aos="fade-left" data-aos-duration="600" data-aos-offset="10" data-aos-easing="ease-in-out">
        <img src="{% static "cards_imgs/feature4.svg" %}" alt="SEO-optimized government website showing translated URLs and metadata with MultiLipi" class="w-full h-auto" loading="lazy">
      </div>
      <!-- right side Text (30%) -->
      <div class="flex flex-col justify-center p-4 md:col-span-4" data-aos="fade-up">
        <h3 class="text-3xl font-bold text-gray-800 mb-4">Boost discoverability with multilingual SEO for public websites</h3>
        <p class="text-gray-600 mb-6">MultiLipi automatically applies SEO best practices for translated portals, including hreflang tags, metadata translation, and language-specific URLs. This helps citizens find official content in their own language on search engines, no extra effort required.</p>
        <a href="#" class="text-blue-500 hover:text-blue-600 flex items-center font-medium">
          Read more about multilingual SEO
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>
    </div>
</div>
<!-- End of features cards -->

<!-- Integration -->
<div class="grid grid-cols-1 md:grid-cols-2 max-w-7xl gap-8 mx-auto p-8 integration-section" style="margin-top: 50px;">
  <!-- Left side Image -->
  <div class="flex items-center justify-center" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
    <img src="{% static "cards_imgs/integration.svg" %}" alt="Translate any website built on WordPress, Shopify, Webflow, Wix, or WooCommerce with MultiLipi" class="h-auto" style="width: 35rem" loading="lazy">
  </div>
  <!-- Right side Text -->
  <div class="flex flex-col justify-center integration-section-text" data-aos="fade-right" data-aos-delay="300" data-aos-anchor-placement="top-bottom" style="width: 80%">
    <h2 class="text-5xl font-bold text-gray-800 mb-4" >Compatible with your website Technalogy</h2>
    <p class="text-gray-600 mb-6">Don't change how your website works just incorporate our tool with your website for seemless integration</p>
    <a href="#" class="text-blue-500 hover:text-blue-600 flex items-center font-medium" style="border: 1px solid #0885DA; padding: 10px 15px; border-radius: 20px; width: fit-content;">
      Explore all Integrations
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </a>
  </div>
</div>

<!-- Testimonials -->
<div class="container mx-auto px-4 py-16 flex" style="margin-top: 50px; flex-direction: column; align-items: center;">
    <!-- Header Section -->
    <div class="text-center mb-12 testemonial-header">
        <h2 class="text-4xl font-bold text-black mb-4">Trusted by India’s leading government bodies and institutions</h2>
        <p class="text-xl text-gray-700 max-w-7xl mx-auto italic">
            Join organizations like PMO India, Bhashini, and other government institutions already using MultiLipi to ensure their digital presence is inclusive and accessible. Our trusted translation solution enables ministries, municipalities, and state portals to deliver critical information in 120+ languages with accuracy and consistency.
        </p>
    </div>
    
    <!-- Logo Section -->
    <div class="logo-section" style="width: 80%;">
        <!-- First row of logos -->
        <div class="mb-8 flex flex-wrap justify-between">
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/Bhashini navbar logo 2.svg' %}" alt="Bhashini Logo" class="h-16 w-auto p-1">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/22 1.svg' %}" alt="GauFire Logo" class="h-16 w-auto p-2">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/26 96.svg' %}" alt="WPMirai Logo" class="h-16 w-auto p-3">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/23 1.svg' %}" alt="Claydy Logo" class="h-16 w-auto p-2`">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/EAIT 2.svg' %}" alt="Indian Goverment Logo" class="h-16 w-auto p-2">
            </div>
        </div>
        
        <!-- Second row of logos -->
        <div class="mb-8 flex flex-wrap justify-between">
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/03 1.svg' %}" alt="Trategig Logo" class="h-16 w-auto p-4">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/02 1.svg' %}" alt="Historia VIVA Logo" class="h-16 w-auto p-3">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/05 1.svg' %}" alt="ProdLog Logo" class="h-16 w-auto p-3">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/06 1.svg' %}" alt="Transition Network Logo" class="h-16 w-auto p-2">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/14 41.svg' %}" alt="Powerstar7 Logo" class="h-16 w-auto p-2">
            </div>
        </div>

        <!-- Third row of logos -->
        <div class="mb-8 flex flex-wrap justify-between logo-div">
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/19 1.svg' %}" alt="Estudio Perenne Logo" class="h-16 w-auto p-4">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/11 64.svg' %}" alt="Cima Recruiters Logo" class="h-20 w-auto">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/01 1.svg' %}" alt="P2B Logo" class="h-16 w-auto p-3">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/17 1.svg' %}" alt="Signolia Logo" class="h-16 w-auto p-2">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/16 539.svg' %}" alt="Leo Resorts Logo" class="h-16 w-auto p-2">
            </div>
        </div>

        <!-- Fourth row of logos -->
        <div class="mb-8 flex flex-wrap justify-between logo-div">
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/20 1.svg' %}" alt="AXA Engineers Logo" class="h-16 w-auto p-1">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/10 4.svg' %}" alt="Lets Logo" class="h-16 w-aut">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/12 1.svg' %}" alt="Nico Legal Logo" class="h-16 w-auto p-1">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/07 85.svg' %}" alt="Sign Tech Logo" class="h-16 w-auto">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/09 1.svg' %}" alt="Spaces Logo" class="h-16 w-auto p-3">
            </div>
            <div class="flex items-center justify-center">
                <img src="{% static 'testimonial/21 16.svg' %}" alt="Mirai Server Logo" class="h-16 w-auto p-2">
            </div>
        </div>
    </div>
    
    <!-- Testimonial Cards Section -->
    <div class="mt-16">
        <!-- First row of testimonials (left to right) -->
        <div class="scroll-container scroll-left mb-8">
            <div class="scroll-wrapper">
                <!-- Testimonial Cards Row 1 -->
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Super happy with Multilipi – great tool and even better support!</span><br>
                        I’m really impressed with Multilipi so far. I used it to translate a hotel website into 8 languages, and it worked flawlessly. The translations are clean, the interface is super easy to use, and everything just clicks into place without headaches.
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">komax74</p>
                        <p class="text-sm text-gray-600">Hotel Continentale</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Great tool, easy to install.</span><br>
                        Very clever concept, also in terms of billing according to actual use. I was impressed by the simple installation and the good instructions.
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Arno Fischbacher</p>
                        <p class="text-sm text-gray-600">Amo Fischbacher</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Hidden Gem in Translation Tools</span><br>
                        I'm thrilled with MultiLipi's $199 Tier 3 license! It's user-friendly, intuitive, and a steal compared to similar tools. Minor tweaks needed for AI translations, but overall a fantastic find. I'm already eyeing the Tier 5 upgrade!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Takeo Fujii</p>
                        <p class="text-sm text-gray-600">Takeo Fujii</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Fantastic, offers good value and remarkable customer support.</span><br>
                        MultiLipi shows promise, but struggles with mixed languages. Impressed by the founder and support team's dedication to feedback and improvement. Wishing them great success!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Worawisut Pinyoyang </p>
                        <p class="text-sm text-gray-600">ImpactMind AI</p>
                    </div>
                </div>
                
                <!-- Duplicate testimonials for seamless scrolling -->
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">A Lifesaver for Localised Audiences</span><br>
                        Thrilled with MULTILIPI! It meets my language selection needs, enhances user experience, and is easy to integrate. Kudos to the team for a valuable tool!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Shafi</p>
                        <p class="text-sm text-gray-600">RIGHT WIN MEDIAS</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Prompt Customer Support</span><br>
                        have been using MultiLipi for my website’s translation needs. While the tool offers a convenient way to translate content &  their customer support team is exceptionally prompt and responsive, addressing my inquiries swiftly.
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Sei Miya</p>
                        <p class="text-sm text-gray-600">Social.0ai</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Must have addition for any Shopify store</span><br>
                        Installed MultiLipi in 10 minutes on our Shopify store! Easy setup, instant multilingual functionality. Great solution for customer satisfaction and local SEO. Thanks for the great product!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Danny McCoy</p>
                        <p class="text-sm text-gray-600">Hill Country Chocolate</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Works great and fast support!</span><br>
                        I have been very pleased with the product, and especially the fast support! Thank you MultiLipi!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Isaac Cockfield</p>
                        <p class="text-sm text-gray-600">786 Bartend</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Second row of testimonials (right to left) -->
        <div class="scroll-container scroll-right">
            <div class="scroll-wrapper">
                <!-- Testimonial Cards Row 2 -->
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">The last translation plugin you will ever need</span><br>
                        Best translation plugin I've tried! User-friendly, lightweight, and SEO-friendly. Plug-n-play setup with no clutter. Fast support team too! My best purchase this year!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Paul</p>
                        <p class="text-sm text-gray-600">pauloeuvreart</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">A hidden GEM waiting to shine.</span><br>
                        MultiLipi is a game-changer for expanding your audience through multilingual SEO. Affordable, user-friendly, and backed by fast, helpful customer support. Lifetime rewards are a bonus! Despite minor hiccups, it's a solid investment for growth.
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Antonsheker</p>
                        <p class="text-sm text-gray-600">Sulit Living</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">MultiLipi's sticky widget is a game-changer for my 150 websites!</span><br> Easy integration with GroovePages, and CNAME records fix did the trick. SEO boost with Google, Bing, and Yahoo indexing translated pages. Thanks for this amazing tool!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Ahayah</p>
                        <p class="text-sm text-gray-600">Ahayah Assembly Church</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Wonderful Tool & Support</span><br>
                        The tool is extremely helpful if you are looking to appeal to Global clients. And the support team is extremely prompt while fixing the software bugs I reported.
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Abhimanyu Bhandankar</p>
                        <p class="text-sm text-gray-600">Droplet Lab</p>
                    </div>
                </div>
                
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Got there in the end</span><br>
                        Had a few tech initial issues that took a while to fix but they got it working for us and it now works well
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Dan_ShoutOut</p>
                        <p class="text-sm text-gray-600">Shout Out</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">💎 Exactly what my agency needs! 💎</span><br>
                        MultiLipi is a game-changer for my web design agency! Easy setup, simple editing, and instant translations. Excellent support team and devs who respond quickly. Highly recommend!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Josh_</p>
                        <p class="text-sm text-gray-600">WP Designs</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">One of my best investments</span><br>
                        MultiLipi's functionality and responsive tech team make it a standout LTD for me. Effortless site translation with one line of code? Unbeatable value. Highly recommend!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Atequa</p>
                        <p class="text-sm text-gray-600">Atequa</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Lightning-Fast and SEO-Optimized Website Translations</span><br>
                        MultiLipi impressed me with its lightning-fast translations, SEO optimization, and manual editing options. Easy setup, excellent support, and a one-time lifetime deal make it a no-brainer for website owners looking to go global!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Kees Stokx</p>
                        <p class="text-sm text-gray-600">SaaS Review</p>
                    </div>
                </div>
                <div class="testimonial-card bg-lightBlue rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Great potential and really good customer service</span><br>
                        I have installed the JS code on my site and I am really happy with the swift customer support.It would be nice if they could offer a chatbot live assistance as well. Keep it up guys!! Great product all in all!!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Dimz</p>
                        <p class="text-sm text-gray-600">Suited Tutor</p>
                    </div>
                </div>
                <div class="testimonial-card bg-white rounded-lg shadow-md p-6 flex flex-col border-t-4 border-primary">
                    <div class="mb-4">
                        <svg class="h-6 w-6 text-primary" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
                        </svg>
                    </div>
                    <p class="text-black flex-grow testimonial-text-clamp">
                        <span class="bold">Highly recommended</span><br>
                        Great first impression with MultiLipi! Simple, easy, fast, and efficient. Looking forward to customizing the widget with support's help. Tier 7 seems like a solid investment!
                    </p>
                    <div class="mt-4 pt-4 border-t border-grey-200">
                        <p class="font-semibold text-black">Arreguisergio</p>
                        <p class="text-sm text-gray-600">SANSONATEGI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Function to handle scroll animations
        function setupScrollers() {
            const scrollContainers = document.querySelectorAll('.scroll-container');
            
            scrollContainers.forEach(container => {
                // Calculate the total width of all items in the wrapper
                const wrapper = container.querySelector('.scroll-wrapper');
                const items = wrapper.children;
                
                // Calculate the duration based on content width
                const totalWidth = wrapper.scrollWidth;
                const duration = totalWidth / 60; // Adjust speed as needed
                
                // Set the animation duration
                wrapper.style.animationDuration = `${duration}s`;
            });
        }
        
        // Initialize and recalculate on window resize
        setupScrollers();
        window.addEventListener('resize', setupScrollers);
    });
</script>
<!-- End of Testimonial -->


{% include "blog.html" %}

<div id="FAQs" class="faq-section-outer-div" id="FAQs">
    <h2 class="faq-title font-family">Frequently Asked Questions</h2>
    <div class="faq-section">
        <div class="faq-item" style="border-top: 1px solid grey;" data-aos="fade-left">
            <div class="faq-question">
                Can I translate an entire government website using MultiLipi?
            </div>
            <div class="faq-answer">
                Yes. MultiLipi can translate government websites into 120+ Indian and international languages, including Hindi, Bengali, Tamil, and Urdu. It detects and translates every section of your portal — from scheme details and forms to RTI pages and public announcements.
            </div>
        </div>

        <div class="faq-item" data-aos="fade-right">
            <div class="faq-question">
                How is MultiLipi better than the old Google Translate widget?
            </div>
            <div class="faq-answer">
                Unlike the discontinued Google Translate widget, MultiLipi provides accurate, editable translations with AI + human review, glossary control for institution-specific terms, and full multilingual SEO support. It’s built for reliability, scalability, and data security.
            </div>
        </div>

        <div class="faq-item" data-aos="fade-left">
            <div class="faq-question">
                Can we maintain glossary rules for institutional terms?
            </div>
            <div class="faq-answer">
                Absolutely. You can define glossary rules (e.g., "My Institution", "PM Kisan") to never translate specific names or phrases, ensuring consistent communication across all languages.
            </div>
        </div>

        <div class="faq-item" data-aos="fade-right">
            <div class="faq-question">
                Is MultiLipi secure and suitable for official use?
            </div>
            <div class="faq-answer">
                Yes. MultiLipi is trusted by leading public sector bodies like PMO, Bhashini, and state governments. It adheres to strict data privacy standards and ensures no content is stored or shared without explicit control.
            </div>
        </div>

        <div class="faq-item" data-aos="fade-left">
            <div class="faq-question">
                How does MultiLipi handle language updates or new content?
            </div>
            <div class="faq-answer">
                Any new content added to your website — such as circulars, notices, or schemes — is automatically detected and translated, keeping your multilingual versions always up to date.
            </div>
        </div>

        <div class="faq-item" data-aos="fade-right">
            <div class="faq-question">
                Do I need a developer to set it up?
            </div>
            <div class="faq-answer">
                No. MultiLipi offers a lightweight integration that your internal IT or content team can manage. You can translate, review, and update pages without code or platform migration.
            </div>
        </div>

        <div class="faq-item" data-aos="fade-right">
            <div class="faq-question">
                Is MultiLipi optimized for multilingual SEO on government portals?
            </div>
            <div class="faq-answer">
                Yes. MultiLipi automatically applies hreflang tags, creates language-specific URLs, and translates page metadata — helping your content appear in regional search results and making your public portals more discoverable.
            </div>
        </div>
    </div>
</div>

{% include "contact_form.html" %}
{% include "banner.html" %}
{% endblock content %}
